##URL
##LOCAL_DB_URL의 경우테스트 코드 구동을 위한 로컬 몽고DB 연결 URL입니다. 로컬에서 몽고DB를 설치후 실행한 다음 테스트를 구동해야 정상 작동 합니다.
##https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/
DB_URL=<mongoDB connection URL>
LOCAL_DB_URL=<mongoDB connection URL>
CLIENT_URL=<Reat App URL>
EMAIL_SERVER_URL=<Email Server URL>

##JWT 관련 환경 변수
JWT_EXPIRE_TIME=<time in millisecond>
JWT_SECRET=<Secret for JWT encryption and decryption>

##GMAIL
##nodemailer를 통해서 메일을 보내기 위한 이메일 주소입니다. 아래의 URL을 따라서 메일 송신을 위한 Gmail 계정을 세팅해주신후 사용해주세요
##https://nodemailer.com/usage/using-gmail/
GMAIL_ID=<Gmail Id>
GMAIL_PASSWORD=<Gmail password>